.card-wrapper {
    display: flex;
    flex: 1;
    align-self: center;
    width: 80%;
    height: 10%;
    justify-content: center;
}

.card-wrapper-hide {
    display: flex;
    flex: 1;
    align-self: center;
    width: 80%;
    height: 10%;
    justify-content: center;
    visibility: hidden;
}

.image {
    height: 20%;
    width: 80%;
}